<section id="footer">
    <div class="footer-container">

        <div class="footer-box"><ul>
            <li><a href="./cursos" rel="noopener noreferrer">Registro</a></li>
            <li><a href="https://exam.onecultureworld.com/" target="_blank" rel="noopener noreferrer">Examen de nivelación</a></li>
        </ul></div>
        <div class="footer-box"><ul>
            <li><a href="./terminos-y-condiciones" rel="noopener noreferrer">Terminos y condiciones</a></li>
            <li><a href="./privacidad" rel="noopener noreferrer">Politicas de privacidad</a></li>
        </ul>
        <div class="social-media">
            <a href="https://www.facebook.com/idiomasocw/" target="_blank" rel="noopener noreferrer" aria-label="Siguenos en Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/idiomasocw/" target="_blank" rel="noopener noreferrer" aria-label="Siguenos en Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCW8lVGnaaC9zHlOWZfme1tA" target="_blank" rel="noopener noreferrer" aria-label="Siguenos en Youtube"><i class="fab fa-youtube"></i></a>
            <a href="https://wa.me/573148489909" target="_blank" rel="noopener noreferrer" aria-label="Contactanos via Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        </div>
        
                </div>
                <div class="copy-rights">
                    <p>© 2023 - Idiomas OCW </p>            
                </div>
</section>  