<!-- Logo and Menu Section -->
<nav id="header-section">
  <div class="header-container">
    <div class="logo-contenedor">
      <a class="logo-container" href="/">
        <img
          id="ocw-logo"
          src="/pics/ocw-logo.png"
          alt="Logo OneCulture World"
        />
      </a>
    </div>

    <div class="menu">
      <ul class="menu-links">
        <li><a href="/cursos">Cursos</a></li>
        <li><a href="/placement-test">Examen gratuito</a></li>
        <li>
          <a href="/login"
            >Login <i class="fa-solid fa-right-to-bracket"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="menu-toggle">
      <div class="menu-btn">
        <div class="menu-btn_burger"></div>
      </div>
    </div>
  </div>
</nav>
