    <!-- Logo and Menu Section -->
    <nav style="position: absolute;z-index: 2;" id="menu-section2">
        <div class="menu-row">

            <a href="/">
                <img id="ocw-logo" src="/pics/dark-logo.png" alt="Logo OneCulture World">
            </a>
        
            <div class="menu-toggle">
                <div class="menu-btn">
                    <div class="menu-btn_burger"></div>
                </div>
            </div>
        
            <div class="menu">
                <ul class="navbar-links">
                    <li class="menu-button"><a class="menu-item-link" href="/">
                            Home</a></li>
                    <li class="menu-button"><a class="menu-item-link" href="/cursos">
                            Cursos</a></li>
                    <li class="menu-button"><a class="menu-item-link" href="https://idiomas.onecultureworld.com/login">
                            Login</a></li>
                </ul>
            </div>
        
        </div>

    </nav>