<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <!-- Meta Description -->
    <meta name="description"
        content="Desarrolla tu fluidez en inglés con la metodología conversacional de OneCulture World. Aprende inglés de forma definitiva!">

    <!-- Other Meta Tags -->
    <meta name="keywords"
        content="aprende ingles facil y rapido, clases de ingles, aprende ingles, curso de ingles online, ingles basico, hablar en inglés, desarrolla la fluidez en inglés, estudiar ingles, curso de inglés,idiomas ocw, one culture world, OneCulture World, examen de inglés gratis">
    <meta name="author" content="Idiomas OCW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OneCulture World</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/build/css/intlTelInput.min.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/main.css">
    
    
    <!-- <link rel="stylesheet" href="/css/landing.css"> -->
    <link rel="shortcut icon" href="/pics/favicon2.png  " type="image/x-icon">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Public+Sans:wght@600&family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<%- include('partials/menu') %>

<section class="section1">
    <div class="section-academy-info">
      <div class="left-container">
        <h1>Aprende Inglés Conversacional</h1>
        <h2>OneCulture World</h2>
      </div>
      <!-- beginning of form -->
      <div class="right-container">
        <div class="form-border">
          <form id="registration-form" action="">
            <div class="progressBarContainer">
              <div style="height: 10px" id="progress-bar">
                <div class="progress-section" id="progress1"></div>
                <div class="progress-section" id="progress2"></div>
                <div class="progress-section" id="progress3"></div>
                <div class="progress-section" id="progress4"></div>
              </div>
            </div>
            <!-- Section 1: Personal Information -->
            <div id="section1" class="form-container">
              <h6 class="headline" id="registrate-ya">
                Registrate y Reserva tu cupo
              </h6>
              <div class="form-infoContainer">
                <!-- Name input -->
                <div class="info-box">
                  <label class="info-label st"
                    >Nombre<span class="asterisk">*</span></label
                  >
                  <div class="input-container">
                    <input
                      id="firstName"
                      name="firstName"
                      type="text"
                      placeholder="Nombre"
                      required
                    />
                  </div>
                </div>
                <!-- Last Name input -->
                <div class="info-box">
                  <label class="info-label"
                    >Apellidos<span class="asterisk">*</span></label
                  >
                  <div class="input-container">
                    <input
                      id="lastName"
                      name="lastName"
                      type="text"
                      placeholder="Apellidos"
                      required
                    />
                  </div>
                </div>
                <!-- Email input -->
                <div class="info-box">
                  <label class="info-label"
                    >Email<span class="asterisk">*</span></label
                  >
                  <div class="input-container">
                    <input
                      id="email"
                      name="email"
                      type="text"
                      placeholder="Email"
                      required
                    />
                  </div>
                </div>
                <!-- Phone Number input -->
                <div class="info-box">
                  <label class="info-label"
                    >Teléfono<span class="asterisk">*</span></label
                  >
                  <div class="input-container">
                    <input
                      id="phone"
                      name="phoneNumber"
                      type="tel"
                      placeholder="Whatsapp"
                      required
                    />
                  </div>
                </div>
                <!-- Age Select -->
                <div class="info-box">
                  <label class="info-label"
                    >Edad<span class="asterisk">*</span></label
                  >
                  <div class="input-container ageBox">
                    <select id="edad" name="edad" required>
                      <option value="Menor de 16" selected>
                        Selecciona tu rango de edad
                      </option>
                      <option value="16-25">Entre 16 y 25 años</option>
                      <option value="26-35">Entre 26 y 35 años</option>
                      <option value="35-45">Entre 35 y 45 años</option>
                      <option value="45-70">Más de 45 años</option>
                    </select>
                  </div>
                </div>
              </div>
              <button type="button" class="button-next" id="next1">
                <i
                  class="fa-solid fa-chevron-right"
                  style="color: #17315e"
                ></i>
              </button>
            </div>

            <!-- Section 2: Mode Selection -->
            <div id="section2" class="hidden">
              <div class="navigation-buttons">
                <button class="button-back" type="button" id="back1">
                  <i
                    class="fa-solid fa-chevron-left"
                    style="color: #17315e"
                  ></i>
                </button>
                <button class="button-next" type="button" id="next2">
                  <i
                    class="fa-solid fa-chevron-right"
                    style="color: #17315e"
                  ></i>
                </button>
              </div>
              <h3>Modalidades</h3>
              <div id="mode-options">
                <div class="mode-option" id="private">
                  <img src="/pics/private.png" alt="Private Class" />
                  <h3 class="nombre-modalidad">Clases privadas</h3>
                </div>
                <div class="mode-option" id="semi-private">
                  <img
                    src="/pics/semi-private.png"
                    alt="Semi-Private Class"
                  />
                  <h3 class="nombre-modalidad">Clases semi-privadas</h3>
                </div>
                <div class="mode-option" id="empresas">
                  <img src="/pics/business.png" alt="empresas" />
                  <h3 class="nombre-modalidad">Inglés para empresas</h3>
                </div>
              </div>
            </div>

            <!-- Section 3 for Private Classes -->
            <div id="section3-private" class="hidden">
              <h3>Clases Privadas</h3>
              <p>Elige 2, 3 o 5 dias de clase</p>
              <div class="navigation-buttons">
                <button class="button-back" type="button" id="back2-private">
                  <i
                    class="fa-solid fa-chevron-left"
                    style="color: #17315e"
                  ></i>
                </button>
                <button class="button-next" type="button" id="next3-private">
                  <i
                    class="fa-solid fa-chevron-right"
                    style="color: #17315e"
                  ></i>
                </button>
              </div>
              <!-- Modal Structure -->
              <div id="modal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <div id="modal-time-options" class="modal-time-options">
                    <!-- Time slots will be injected here -->
                  </div>
                </div>
              </div>

              <div class="schedule-selection">
                <div class="time-wrapper">
                  <button type="button" class="weekday" id="Mon">
                    Lunes
                  </button>
                  <div id="time-Mon"></div>
                </div>
                <div class="time-wrapper">
                  <button type="button" class="weekday" id="Tue">
                    Martes
                  </button>
                  <div id="time-Tue"></div>
                </div>
                <div class="time-wrapper">
                  <button type="button" class="weekday" id="Wed">
                    Miércoles
                  </button>
                  <div id="time-Wed"></div>
                </div>
                <div class="time-wrapper">
                  <button type="button" class="weekday" id="Thu">
                    Jueves
                  </button>
                  <div id="time-Thu"></div>
                </div>
                <div class="time-wrapper">
                  <button type="button" class="weekday" id="Fri">
                    Viernes
                  </button>
                  <div id="time-Fri"></div>
                </div>
              </div>
            </div>

            <!-- Section 3 for Semi-Private Classes -->
            <div id="section3-semi-private" class="hidden">
              <h3>Clases Semi-Personalizadas</h3>
              <p>Elige intensidad y horario</p>
              <div class="navigation-buttons">
                <button
                  class="button-back"
                  type="button"
                  id="back2-semi-private"
                >
                  <i
                    class="fa-solid fa-chevron-left"
                    style="color: #17315e"
                  ></i>
                </button>
                <button
                  class="button-next"
                  type="button"
                  id="next3-semi-private"
                >
                  <i
                    class="fa-solid fa-chevron-right"
                    style="color: #17315e"
                  ></i>
                </button>
              </div>
              <div
                style="margin: auto; display: flex; justify-content: center"
                class="intensidad-semi-private"
              >
                <button type="button" class="intensity" id="twice">
                  2 clases semanales
                </button>
                <button type="button" class="intensity" id="thrice">
                  3 clases semanales
                </button>
              </div>

              <div id="time-semi-private"></div>
            </div>

            <!-- Section 3 for Empresas -->
            <div id="section3-empresas" class="hidden">
              <h3>Inglés para Empresas</h3>
              <div class="info-empresa">
                <label for="employee-count"
                  >¿Cuál es el nombre de la empresa?</label
                >
                <input
                  id="companyName"
                  name="companyName"
                  type="text"
                  placeholder="Nombre de la Empresa"
                  required
                />
                <label for="employee-count"
                  >¿Cuántos empleados tiene tu empresa?</label
                >
                <select id="employee-count">
                  <option value="sin-seleccionar" selected disabled>
                    Selecciona el número de empleados
                  </option>
                  <option value="less-15">Menos de 15 personas</option>
                  <option value="15-50">Entre 15 y 50 personas</option>
                  <option value="51-200">Entre 50 y 200 personas</option>
                  <option value="200-500">Entre 200 y 500 personas</option>
                  <option value="more-500">Más de 500 personas</option>
                </select>
              </div>
              <div class="navigation-buttons">
                <button class="button-back" type="button" id="back2-empresas">
                  <i
                    class="fa-solid fa-chevron-left"
                    style="color: #17315e"
                  ></i>
                </button>
                <button class="button-next" type="button" id="next3-empresas">
                  <i
                    class="fa-solid fa-chevron-right"
                    style="color: #17315e"
                  ></i>
                </button>
              </div>
            </div>

            <!-- Section 4: Pricing -->
            <div id="section4" class="hidden">
              <h3 id="form-final-price">Valor de la mensualidad</h3>
              <p id="price"></p>
              
              <p
                class="price original-price"
                style="text-decoration: line-through; color: red"
              >
                
              </p>
              <p class="price discount-price">
                
              </p>
              
              <p class="price"></p>
              

              <a href="#" id="pay-button" class="hidden">Registrarse</a>
              <button class="button-back" type="button" id="back3">
                <i
                  class="fa-solid fa-chevron-left"
                  style="color: #17315e"
                ></i>
              </button>
            </div>

            <!-- Section 4 for Empresas -->
            <div id="section4-empresas" class="hidden">
              <div class="enviar-solicitud-empresa">
                <h3>Solicita tu descuento</h3>
                <p>
                  Una vez envíes este formulario, nos pondremos en contacto
                  contigo para brindarte información sobre el descuento
                  especial que tenemos.
                </p>
                <button type="button" id="send-form-empresas">Enviar</button>
              </div>
              <button class="button-back" type="button" id="back3-empresas">
                <i
                  class="fa-solid fa-chevron-left"
                  style="color: #17315e"
                ></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="section2">
    <h2>¿Qué ofrecemos?</h2>
    <div class="ofrecemos">
      <div class="cards">
        <img src="/pics/live_lessons.png" alt="Lecciones en vivo" />
        <h3>Lecciones online en vivo</h3>
        <span
          >Recibirás lecciones online en vivo de 55 minutos con un docente
          experto que acompañará tu proceso, y tendrás acceso a actividades
          interactivas en nuestra plataforma educativa para mejorar tu
          pronunciación, escucha y habla a tu propio ritmo.</span
        >
      </div>
      <div class="cards">
        <img src="/pics/grupos_pequeños.png" alt="Grupos pequeños" />
        <h3>Lecciones privadas y semi-privadas</h3>
        <span
          >Podrás elegir entre clases privadas o clases semi-personalizadas
          para mejorar tus habilidades conversacionales en menos tiempo con un
          seguimiento dedicado y cercano a tu proceso</span
        >
      </div>
      <div class="cards">
        <img src="/pics/chats.png" alt="Medologogía conversacional" />
        <h3>Metodología conversacional</h3>
        <span>
          Con nuestra metodología conversacional desarrollarás tus habilidades
          de habla y escucha de forma natural y rápida. Podrás desenvolverte
          con confianza en un rango amplio de situaciones
        </span>
      </div>
    </div>
  </section>

  <section class="section3">
    <h2>¿Preguntas frecuentes?</h2>
    <div class="faq-container">
      <button class="accordion">
        ¿Cuántos estudiantes hay en una clase semi-personalizadas?
      </button>
      <div class="panel">
        <p>
          Podrás compartir clase con un promedio de 3 estudiantes en tus
          lecciones semi-personalizadas.
        </p>
      </div>

      <button class="accordion">
        ¿Cuál es la edad mínima para estudiar en
        <strong>OneCulture World?</strong>
      </button>
      <div class="panel">
        <p>
          Si eres mayor de 15 años podrás iniciar tu curso conversacional en
          OneCulture World.
        </p>
      </div>

      <button class="accordion">
        ¿Cuantas lecciones en vivo podré tomar a la semana?
      </button>
      <div class="panel">
        <p>
          En nuestro programa de lecciones privadas, podrás tomar una clase
          diaria de Lunes a viernes, y en la modalidad semi-personalizada
          podrás elegir entre dos opciones. Podrás tomar clase 3 veces a la
          semana (Lunes, Miercoles y Viernes), o tomar 2 clases a la semana
          (Martes y Jueves).
        </p>
      </div>

      <button class="accordion">¿Tienen claúsula de permanencia?</button>
      <div class="panel">
        <p>No tenemos ningún tipo de clausulas de permanencia.</p>
      </div>

      <button class="accordion">
        ¿Qué encontraré en la plataforma educativa OCW?
      </button>
      <div class="panel">
        <p>
          En nuestra plataforma educativa, encontrarás tus lecciones en vivo y
          también actividades interactivas de auto-estudio con las cuales
          podrás afianzar tu comprensión auditiva, tu comprensión de lectura y
          tu pronunciación.
        </p>
      </div>
    </div>
  </section>

  
    <%- include('partials/footer') %>
    
    <script src="https://kit.fontawesome.com/c14517e724.js" crossorigin="anonymous"></script>
    <!-- <script src="/js/appearance.js"></script> -->
    <script src="/js/main.js"></script>

    <script src="/js/form.js"></script>
    <script src="./build/js/intlTelInput.min.js"></script>
    <script>
        var input = document.querySelector("#phone");
        window.intlTelInput(input, {
            initialCountry: "co"
        });
    </script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Check if the URL contains a hash
    if(window.location.hash) {
        // Scroll to the element with the ID from the URL hash
        const section = document.querySelector(window.location.hash);
        if(section) {
            section.scrollIntoView({ behavior: 'smooth' });
        }
    }
});
</script>
</body>

</html>