<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <!-- Meta Description -->
    <meta
      name="description"
      content="Descubre los terminos y condiciones de nuestro servicio y cómo nuestro buen servicio es nuestra mayor garantía"
    />

    <!-- Other Meta Tags -->
    <meta
      name="keywords"
      content="terminos y condiciones, sin clausulas de permanencia, sin costos adicionales, idiomas ocw, one culture world, OneCulture World"
    />
    <meta name="author" content="Idiomas OCW" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OneCulture World</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/pics/favicon2.png  " type="image/x-icon" />
    <script
      src="https://kit.fontawesome.com/c14517e724.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Public+Sans:wght@600&family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('partials/menu') %>

    <!-- Section 1: Terminos y condiciones -->
    <section style="padding: 3.5rem 7%; height: 100vh" class="condiciones-del">
      <h1 class="heading-condiciones">Terminos y condiciones</h1>
      <p style="color: #0e124d">
        Los términos y condiciones del servicio prestado por OneCulture World -
        Centro de Idiomas tienen como fin dar las directrices para el buen
        funcionamiento institucional, desde el momento de registro del
        estudiante hasta la consecución completa del programa.
      </p>
      <h3>Matricula y Retiro</h3>
      <p style="color: #0e124d">
        1) La Institución no establece cláusulas de permanencia con sus
        estudiantes. Se entenderá como PAGO DE MATRÍCULA el valor pagado en su
        primera mensualidad. EN CASO DE RETIRO, EL ESTUDIANTE DEBERÁ
        FORMALIZARLO ANTE INSTANCIAS ADMINISTRATIVAS ANTES DE FINALIZAR EL MES
        EN CURSO, ESTANDO A PAZ Y SALVO CON LA INSTITUCIÓN, el estudiante deberá
        contactar servicio al cliente por el chat de la página y diligenciar la
        encuesta de retiro que será proveída por servicio al cliente, o escribir
        a admin@onecultureworld.com con el asunto: Retiro. Si se hace caso omiso
        a esta instrucción, el sistema continuará facturando mensualidades. 2)
        Al estudiante que efectúa su matrícula y formaliza su retiro antes de la
        fecha de inicio del programa, se le aplicará una retención del 20% sobre
        el valor total cancelado al momento de la matrícula (primera
        mensualidad) por concepto de gastos operativos y de papelería que
        tuvieron lugar durante y después del momento de la matrícula. En caso de
        un nuevo ingreso, deberá cancelar nuevamente el valor completo de la
        matrícula. 3) Quien formalice su retiro después de la fecha de inicio de
        clases, no tendrá ningún tipo de devolución haya o no asistido a clase.
        4) Las políticas referentes a las devoluciones aplicarán única y
        exclusivamente para los estudiantes que inicien sus estudios desde la
        fecha de inicio del programa. NO aplicarán para los estudiantes que
        hayan ingresado por nivelación. 5) El estudiante que efectúe su
        matrícula después del día DOS (2) calendario, realizará el pago
        equivalente a los días académicos restantes del mes a cursar. 6) Los
        cupos del centro de idiomas OneCulture World no son transferibles. No se
        permite el traslado de dinero correspondiente a matrículas y/o
        mensualidades de un usuario a otro. La Institución no guardará dinero
        para futuras matrículas.
      </p>
      <h3>Mensualidad</h3>
      <p style="color: #0e124d">
        7) La mensualidad debe ser pagada a más tardar el día 2 de cada mes, y
        comprenderá el servicio educativo del mes en curso. El pago de la
        mensualidad debe efectuarse siempre de manera anticipada a través de la
        pasarela de pagos puesta a disposición por la institución. Si se realiza
        el pago de la mensualidad después de la fecha límite de pago, el
        estudiante deberá pagar el valor de la mensualidad sin descuento. Sin
        embargo, podrá recuperar el beneficio del descuento para la próxima
        mensualidad. 8) Si el estudiante realiza el pago de la mensualidad
        después de la fecha límite, deberá enviar el comprobante de dicho pago
        al correo: pagos@onecultureworld.com a fin de garantizar el acceso al
        servicio educativo de forma oportuna. 9) La Institución se abstiene de
        hacer devoluciones parciales o completas de dinero de mensualidades en
        caso de retiros y/o ausencias mínimas o prolongadas por parte del
        estudiante. 10) La Institución recibe un pago máximo de DOCE (12)
        mensualidades como anticipo. Al estudiante que efectúa un anticipo de
        varias mensualidades y posteriormente formaliza su retiro, se le
        realizará la devolución parcial correspondiente a los meses que no se
        hayan facturado aún. De lo contrario, tal como indica el numeral 9, la
        Institución se abstiene de hacer devoluciones. Cualquier saldo a favor
        deberá ser solicitado antes de la fecha de finalización del programa.
        Una vez culminado no se realizará ningún tipo de devolución. 11) La
        Institución se reserva el derecho de NO PERMITIR el ingreso a clase de
        los estudiantes que se encuentren en mora por falta de pago. La mora
        rige a partir del día UNO (3) del mes. Desde esta fecha, el personal
        administrativo tendrá la facultad de impedir el ingreso a clase de los
        estudiantes que no se encuentren al día con el pago de su mensualidad.
        12) El estudiante que desee continuar en el mismo programa después de
        haberse ausentado entre UNA (1) y DOS (2) semanas de clase (ausencias
        mínimas), le corresponderá cancelar la totalidad de la mensualidad en
        mora y deberá ponerse al día con los contenidos faltantes. 13) La
        Institución tendrá la facultad de efectuar el retiro del estudiante en
        los siguientes casos: A.) Ausencias prolongadas y consecutivas (a partir
        de la tercera semana de clase) que no hayan sido informadas con
        antelación en el correo: academico@onecultureworld.com B.) Ausencias
        prolongadas no consecutivas que superen el 25% de la totalidad del
        programa. En este caso, el estudiante no podrá retomar el programa hasta
        el siguiente periodo de matrículas. C.) Según las causales de
        desvinculación que reposan en el Manual de Convivencia Institucional.
        D.) Cuando al finalizar el mes en curso el estudiante no se encuentre a
        paz y salvo con el pago de su mensualidad. 14) En el caso de los
        estudiantes que ingresen por nivelación, el límite de inasistencias será
        directamente proporcional al número de clases a cursar a partir del
        momento de su matrícula. 15) Para asistir a clase en un horario
        diferente, el estudiante deberá estar a paz y salvo con la institución.
        Este servicio estará sujeto a disponibilidad. 16) La entrega del
        certificado de culminación del programa estará sujeta a los siguientes
        parámetros: Culminación exitosa y con plena competencia de los objetivos
        prescritos en el programa, y aprobación de los exámenes
        correspondientes. No haber superado el límite de inasistencias (25%).
        Encontrarse a paz y salvo con la Institución.
      </p>
      <h3>Reintegros y Descuentos</h3>
      <p style="color: #0e124d">
        17) El estudiante que desee reingresar a la Institución en un nivel
        igual o inferior al que estuvo matriculado inicialmente, cancelará el
        valor vigente a la fecha. 18) Los descuentos son otorgados únicamente
        por matrícula anticipada en las fechas establecidas por la Institución.
        ESTOS DESCUENTOS NO APLICAN PARA LOS ESTUDIANTES QUE HAYAN INGRESADO POR
        NIVELACIÓN. 19) El beneficio de descuento aplicará para todas las
        mensualidades del programa en cuestión. Sin embargo, una vez pasado el
        día DOS (2) calendario, fecha límite de pago (numeral 7), EL ESTUDIANTE
        QUE NO HAYA EFECTUADO EL PAGO DE SU MENSUALIDAD PERDERÁ ESTE BENEFICIO
        POR EL MES EN CURSO. En este caso, a partir del día TRES (3), deberá
        cancelar su valor neto sin descuento.
      </p>
    </section>

    <%- include('partials/footer') %>
    <script src="/js/main.js"></script>
    <script src="/js/appearance.js"></script>
  </body>
</html>
