<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link rel="shortcut icon" href="/pics/favicon2.png  " type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="subscription-form.css">

<style>
    .bodyThankyou{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #005f73;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
}

.thankyouHeadking{
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    color:#ffd479;
    text-align: center;
}
.returnButton{
    padding: 2rem;
    background: linear-gradient(135deg,#46fad1,#57b48a);
    color:#19504a;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 3px 10px #000;
    text-align: center;
 }

 .returnButton:hover{
    transform: scale(0.92);
    transition: all 0.3s ease-in-out;
    color:#07291a;
    background: linear-gradient(135deg,#57b48a,#46fad1);
 }
</style>

</head>
<body class="bodyThankyou">
    <img src="/pics/white-logo-ocw.png" alt="">
    <h1 class="thankyouHeadking">Gracias por preferirnos</h1>
    <p style="color: white;text-align: center;">Has sido matriculado exitosamente en nuestra plataforma educativa y recibir치s un correo con tu informaci칩n de acceso. Te invitamos a tomar el examen de nivelaci칩n para que confirmes el nivel m치s indicado para ti</p>
    <a class="returnButton" href="/">Volver a la pagina principal</a>
</body>
</html>