:root {
  --light: #ffffff;
  --dark: #031017;
  --green: #00d5dd;
  --blue: #23598b;
  --accent-color-1: #00d5dd;
}

/* Parallax section */

/* WebP Support for Desktop - Only Change the Background Image */
@supports (
  background:
    linear-gradient(to bottom, rgba(48, 48, 59, 0.98), rgba(111, 111, 222, 0.8)),
  url("/pics/cursos-parallax.webp")
) {
  .parallax {
    background: linear-gradient(
        to bottom,
        rgba(48, 48, 59, 0.98),
        rgba(111, 111, 222, 0.8)
      ),
      url("/pics/cursos-parallax.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Pseudo-element for gradient background */

.divider-parallax {
  position: absolute;
  bottom: 0;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

/* WebP Support for Desktop - Only Change the Background Image */

#semi-personalized {
  background: linear-gradient(to bottom, var(--dark), var(--blue));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--green);
}

.course-description-card .course-pricing {
  color: var(--dark);
}

.course-description-section1 {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: auto;
}

.wave-separator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14%;
  fill: #ffffff;
  z-index: 1;
  margin-bottom: -4px;
}

.wave-separator-cursos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4%;
  fill: #ffffff;
  z-index: 1;
  margin-bottom: -3px;
}
/* End of parallax section */

/* new css styles for the course description */
.course-description-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  height: 100vh;
}

.course-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 0 7%;
}

.course-description-card {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 10px;
  padding: 4rem;
  box-shadow: 0 0 5px var(--dark);
  background-color: #f4f8f8;
  color: var(--dark);
}

.course-description-card h2 {
  text-align: left;
  color: var(--dark-text-color); /* Adjust the color to match your design */
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
  padding: 2% 0;
  font-family: "Montserrat", sans-serif;
}

.course-description-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.7em;
}

.course-feature {
  display: flex;
  align-items: center;
  margin-bottom: 0.7em;
}

.course-feature i {
  margin-right: 0.7em;
}

.course-pricing {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.price-option {
  background-color: var(--green);
  padding: 1em;
  text-align: center;
  color: var(--dark);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto Condensed", sans-serif;
}

.price-option a {
  color: var(--dark);
}

.price-option .price {
  font-weight: bold;
  font-size: 1.5rem;
}

.program-name {
  padding: 0 0px 0 6%;
}

@media only screen and (max-width: 768px) {
  /* Adjusts for devices with a width of 600px or less */
  .form-infoContainer {
    grid-template-columns: 1fr; /* Makes all .info-box elements take full width and stack vertically */
    max-width: 100%; /* Allows the container to fit the screen's width */
  }

  /* Since all .info-box elements are now full width, we don't need to specify grid-column */
  .info-box:nth-child(1),
  .info-box:nth-child(2),
  .info-box:nth-child(3),
  .info-box:nth-child(4),
  .info-box:nth-child(5),
  .info-box:nth-child(6) {
    grid-column: auto; /* Resets any specific column spanning */
  }

  /* WebP Support for Mobile - Only Change the Background Image */
  @supports (background-image: url("/pics/cursos-parallax-mobile.webp")) {
    .parallax {
      background-image: url("/pics/cursos-parallax-mobile.webp");
      /* background-image: url("/pics/Descuento-mobile.webp"); */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .course-description-section {
    padding-top: 1rem;
  }
  .course-description-card {
    grid-template-columns: 1fr;
    place-items: center;
    padding: 2rem;
  }

  .course-description-card h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  .course-pricing {
    gap: 5px;
    justify-content: center;
    height: fit-content;
    min-width: 13rem;
  }

  .price-option {
    display: flex;
    flex-direction: column;
  }

  .course-price-name {
    width: 100%;
    /*     display: flex;
  flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr;
  }
}
