/* font-family: 'Oswald', sans-serif;
font-family: 'Public Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif; 
font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


/* HEADER SECTION AND MENU */

:root{
    --light:#ffffff;
    --dark:#0e124d;
    --primary-bg-color: #6f6fde;
    --accent-color-1: #ffe081;
    --secondary-text-color: #e0af7c;
    --dark-text-color: #30303b;
    --primary-bg-complement:#6060bf;
    --primary-bg-complement2:#7271dd;
}

#menu-section{
    position:fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  .matriculate-button a:visited {
    color: var(--accent-color-1) !important;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
  }
  .matriculate-button a {
    background-color: var(--secondary-text-color);
    color: var(--accent-color-1) !important;
    padding: 15px 5px 15px 25px;
    position: absolute;
    left: 85%;
    top:-10px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    transition: padding-left 0.3s ease-in-out;  /* Transition on left padding */
    display: inline-flex;  /* To align items in a line */
    align-items: center;  /* Align items vertically */
    text-transform: uppercase;
    width: 8.5rem;
  }

  
/* Add styles for arrow inside button */
.matriculate-button a::after {
    content: "\f061";  /* Unicode for right arrow in FontAwesome */
    font-family: "Font Awesome 5 Free";  /* Font family for FontAwesome */
    font-weight: 900;  /* FontAwesome solid style */
    opacity: 0;  /* Initially hidden */
    margin-left: 0;  /* Initially no space */
    transition: opacity 0.3s ease-in-out, margin-left 0.3s ease-in-out;  /* Smooth transition */
}

/* Styles for button and arrow on hover */
.matriculate-button a:hover {
    padding-left: 15px;  /* Expanded left padding */
    padding-right: 15px;
}

.matriculate-button a:hover::after {
    opacity: 1;  /* Make arrow visible */
    margin-left: 10px;  /* Add space next to text */
}

.matriculate-button-mobile{
    display: none;
    background-color:var(--secondary-text-color);
    color:var(--accent-color-1);
    font-weight: bold;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 0.9rem;
}

  /* Add or modify this CSS code for menu links */



/* Sticky Menu Styles */
.menu-section-sticky {
    position: fixed;
    top: 0;
    background-color: var(--primary-bg-color);
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 5px var(--dark-text-color);
  }
  
  .menu-section-sticky .matriculate-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .menu-section-sticky .matriculate-button a {
    top: 0;  
    padding: 0 1rem;  
    height: calc(100% - 2px);
    line-height: normal;
    color: var(--primary-bg-color) !important;
    background-color: var(--accent-color-1);
    transition: top 0.5s ease-out;  
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.wave-separator {
    position: absolute;
    bottom: 0;  
    left: 0;
    width: 100%; 
    height: 14%;   
    fill: var(--light); 
    z-index: 1;   
    margin-bottom: -4px;
}

.main-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 3.8rem;
    margin:0;
}

.sub-heading, .cta-button {
    font-family: 'Public Sans', sans-serif;
    color:var(--accent-color-1)
}

/* CSS for Ripple Effect */
@keyframes rippleAnim {
    0% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  
  .color-changing {
    background: var(--secondary-text-color);
    -webkit-background-clip: text;
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
    /* animation: rippleAnim 2s ease-in-out; */
  }
  
  .color-changing span {
    animation-delay: calc(var(--char-index) * 0.2s);
  }

.intro-container{
    margin: 0px 7%;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 3% 0 0 0;
    display: grid;
    grid-template-columns: 5fr 7fr;  /* Two columns*/
    grid-gap: 10px;  /* Gap between columns */
}

/* Keyframes for zoom in effect */
@keyframes zoomIn {
    0% {
        transform: scale(0.8); 
        opacity: 0; 
    }
    100% {
        transform: scale(1); 
        opacity: 1; 
    }
}

/* Applying the animation to .study-english-info */
.study-english-info {
    animation-name: zoomIn;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
}

/* Flex items */
.study-english, .study-english-info {
    flex: 1; /* each takes up equal space */
    min-width: calc(50% - 10px); /* 50% of container width minus a little for padding */
}


/* SECOND SECTION - BENEFITS */
.section-benefits{
    padding-bottom: 40px;
    position: relative;
}

.cards-row{
    margin: 0 7%;
    text-align: center;
    display: flex;
    background-color: var(--light);
    place-items: center;
    justify-content: center;
    padding: 10px 0 100px 0;
    cursor: pointer;
}

.svg-icon {
    height: 80%;
    width: 70%;
    margin: 0;
    padding: 0;
    display: block;
}

/* CARD CSS RULES */
.card{
    position:relative;
    width: 290px;
    height: 320px;
    background: var(--secondary-text-color);
    transition: all 0.5s ease-in-out; 
    margin: 0 auto;
}

.card.hover-effect, .card:hover {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    position:relative;
    width: 290px;
    height: 320px;
    background: var(--secondary-text-color);
    transition: all 0.5s ease-in-out;
}

.face{
    position: absolute;
    top:0;
    left: -20px;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.face1{
    padding: 20px;
    text-align: center;
    color: var(--dark-text-color);
    background-color: var(--secondary-text-color);
    align-items: center;
}

.face1 h2 {
    margin-top:120px;
}

.face1 a{
    display: inline-block;
    margin-top:20px;
    padding:5px 10px;
    text-decoration:none;
    color:var(--light);
    border:2px solid #013d4a;
    text-transform: capitalize;
    font-weight: bold;
    transition: 0.3s;
}

.face2{
    padding: 20px;
    background-color: var(--accent-color-1);
    transition: 0.5s;
}

.face2 h2 {
    font-size:7.5rem;
    color: #0e124d !important;
    transition: 0.5s;
    width: 160px;
    height: 160px;
}

.content{
    margin-top:75px;
    
}

.semipersonalizadas{
    display: block;
}


.card.hover-effect .face2, .card:hover .face2{
    height: 4.2em;
    width: 4.2em;
    border-radius: 50%;
    top:0.25em;
    left:50%;
    transform: translateX(-50%);
    background-color: var(--light);
    border: 2px solid var(--dark-text-color);
    transition: all 0.4s ease-in-out;
}

.card:hover .face1{
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5%);
    transition: transform 500ms ease-in-out;
}

.card:hover .face .face2 h2{
    color: var(--light) !important;
    font-size: 2rem;
}

.card:hover .face{
    display:flex;
    justify-content: center;
    align-items: center;
}

.content h2, p {
    color: var(--dark-text-color);
    padding: 0 1em;
   }

.item-headline{
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-text-color);
    font-family: 'Oswald', sans-serif;
    margin:2rem auto;
    font-size: 1.5rem;
    padding:12px 0 12px 0;

}

.second-separator{
    position: absolute;
    bottom:0;
    left:0;
    z-index: 0;
    background: linear-gradient(180deg, #fff);
    transform: rotate(180deg);
}

/* Existing .card-container rules */
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5em;
    align-items: center;
    flex-wrap: wrap; 
}

/* Section 3: Lesson Modalities */
.section-services {
    color: var(--accent-color-1);
    padding: 20px 0 60px 0;
    text-align: center;
    background:linear-gradient(to bottom, var(--primary-bg-complement), var(--primary-bg-complement2));  
    margin-top:-2px;
    overflow: hidden;
}

.services-headline{
    color:var(--accent-color-1);
}

.levels-headline{
    color:var(--accent-color-1);
}

.third-separator{
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(to bottom, #494f78,rgba(133, 126, 191, 0.96)97%,#f4f8f8 99%);

}

.service-container {
    margin: 0 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2.5rem;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.service-item {
    position: relative;
    box-shadow: 0px 20px 20px rgb(0,0,0,0.5);
    border-radius: 0 15px 0 15px;
    min-width: 220px;  
    margin: 0 auto;
}

.imgbox {
    width: 18.6rem;
    height: 16.2rem;
    display: flex;  /* Added */
    justify-content: center;  
    align-items: center;  
}

.imgbox .img-item {
    width: 95%;
    height: auto;
}

.content-services {
    position:absolute;
    bottom:0px;
    width: 80%;
    height: 20%;
    background-color:var(--primary-bg-color);
    Left:10%;
    text-align: center;
    transition: all 0.5s ease;
    overflow: hidden;
    border-radius: 15px 15px 0 0px;
    border: var(--accent-color-1) solid 1px;
}

.service-item:hover .content-services{
    height: 100%;
    width: 100%;
    left:0%;
}

.read-more{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', 'sans serif';
    padding: 8px;
}

.services-link{
    cursor: pointer;
    text-decoration: none;
}

.content-services p{
    width: 80%;
    margin: 10px auto;
    font-size: 1rem;
    transition: 0.5s;
    color: var(--accent-color-1);
} 

.headline-services{
    color:#ffffff;
    text-transform: uppercase;
}

.levels{
    display: flex;
    flex-direction: row;
    margin: 0 7%;
    justify-content: center;
    gap:1.5rem;
    background: linear-gradient(to bottom, var(--secondary-text-color), var(--accent-color-1));
    padding: 1em;
    width: fit-content;
    border-radius: 5px;
    margin: auto;
}

.allEnglishLevels{
    padding: 2% 0;
    margin: auto;
    
}

.levels img{
    width: 3.2rem;
    height: 3.2rem;
}

/* ACCORDION CSS */
        /* CSS */

        .section-faq{
            background-color: #ffffff;
            padding: 3rem 0 3rem 0;
            position: relative;
            margin-top: -1px;
        }

        .accordion {
            cursor: pointer;
            padding: 0.7em;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            transition: 0.4s;
            background-color: #FFFFFF;
            position: relative;
        }

        .accordion, .panel {
            box-shadow: 0 -5px 10px rgba(132, 125, 191, 0.1), 
                        0 5px 10px rgba(132, 125, 191, 0.1);  
            
            padding: 0.7em; 
            border: none; 
            background-color: #fff; 
            width: 100%; /* full width */
            transition: box-shadow 0.3s; 
        }
        
        /* Enhance the shadow when the accordion is active for a "pressed" look */
        .accordion.active{
            box-shadow: 0 -2px 5px rgba(132, 125, 191, 0.2), /* top shadow */
                        0 2px 5px rgba(132, 125, 191, 0.2);  /* bottom shadow */
            background:var(--secondary-text-color) ;
            transition: all 1s ease;
        }
        

        /* Add a down arrow using pseudo-elements when the accordion is not active */
.accordion::after {
    content: '⌄'; 
    position: absolute;
    right: 0.7em;
    top: 50%;
    transform: translateY(-50%);
    font-weight:bolder;
    color:var(--dark-text-color);
}

/* Add an up arrow when the accordion is active */
.accordion.active::after {
    content: '⌃'; /* This is an upward arrow symbol */
    color:var(--accent-color-1);
}

        .panel {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease-out;
            padding-left: 1em;
            color: var(--dark-text-color);
        }

        .panel p {
            color:var(--dark-text-color);
            font-family: 'Roboto Condensed', sans-serif;
        }

        .faq-container{
            margin: 0 7%;
            background-color: var(--light);
            overflow: hidden; /* hides any protruding shadows */
          }

        .faq-container .accordion {
            font-family: 'Public Sans', sans-serif;
            color:var(--dark-text-color);
            font-weight:500;
        }



          @media (min-width: 768px){
            .menu-item-link:before{
                content: '';
                position: absolute;
                bottom:0;
                left:0;
                width: 12px;
                height: 12px;
                border:3px solid #0e124d;
                border-width: 0 0 3px 3px;
                opacity: 0;
                transition: all .5s ease-in-out;
              }
            
              .menu-item-link:hover:before{
                opacity: 1;
                bottom: -8;
                left:-8px;
              }
            
            .menu-item-link:after{
                content: '';
                position: absolute;
                top:0;
                right:0;
                width: 12px;
                height: 12px;
                border:3px solid #0e124d;
                border-width:3px 3px  0 0;
                opacity: 0;
                transition: all .5s ease-in-out;
              }

              .section-faq .item-headline{
                margin-top:30px;
              }
          }

  /* MEDIA QUERIES FOR MOBILE DEVICES */
  @media (max-width: 600px){


    .program-benefits{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem auto;
        }

    .matriculate-button{
        display: none !important;
    }

    .matriculate-button-mobile{
        position: absolute;
        display: flex;
        z-index: 2;
        bottom: 2.3%;
        left: 50%;  
        transform: translateX(-50%);
        justify-content: center;
        align-items: center;
        font-family: 'Oswald', sans-serif;
        padding:1rem 0.8rem 1rem 0.8rem;
    }

    .matriculate-button-mobile:hover{
background-color: var(--accent-color-1);
color: var(--primary-bg-color);
transition: all 400ms ease-in-out;
    }

    .main-heading {
        font-size: 3.1rem!important;
        margin: 0;
    }
    
    .sub-heading, .cta-button {
        font-size:1.125rem!important;
    }



    .section-academy-info .intro-container {
        grid-template-columns: 1fr;  /* Single column */
        grid-template-rows: auto auto;  /* Two rows */
        text-align: center;
    }
          
    .card-container {
        flex-direction: column;  /* Vertical layout for small screens */
        align-items: center;  /* Center align items vertically */
    }

    .section-benefits{
        background-color: var(--light);
        padding-top: 20px;
        margin-top: 190px;
    }

    .face2{
        background-color: var(--accent-color-1) !important;
    }
    .cards-row{
        background-color: var(--light) !important;
    }

    .face1{
        background-color: var(--secondary-text-color);
    }

    #beneficios{
        color:#ffffff;
    }

    .card.hover-effect, .card:hover {
        width: 250px;
        height: 350px;
    }

    .card.hover-effect .face2, .card:hover .face2{
        height: 4em;
        width: 4em;
        border-radius: 50%;
        top:2.25em;
        transition: all 0.4s ease-in-out;
    }

    .content h2, p {
        color: var(--dark-text-color);
        padding: 0 15px;
       }

    .content p{
        font-size: 0.8rem;
    }

       .svg-icon {
        height: 70%;
        width: 75%;
    }

    .face{
        border-radius: 1px;
    }
    .service-row{
        flex-direction:column;
        gap: 50px;
    }

    .second-separator{
        display: none;
    }

    .card{
        
        max-width: 250px;
    }

    .card:hover .face1{
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3); 
        transform: translateY(0%);
    }
    

  .color-changing {
    background: var(--dark-text-color);
    -webkit-background-clip: text;
    background-clip: text;
  color: transparent;
  }

  .section-services {
    background: linear-gradient(to bottom, var(--primary-bg-complement), var(--primary-bg-complement2));
    color: #0e124d;
    padding: 20px 0 60px 0;
    text-align: center;
    /* background:linear-gradient(to bottom, #857ebf, #494f78);  */ 
    /* background: #ffffff; */
    margin-top:-2px;
    overflow: hidden;
}

.imgbox .img-item {
    width: 12.4rem;
    height: auto;
}

.third-separator{
    position: absolute;
    top:0;
    left:0;
/*     background: linear-gradient(to bottom, #494f78,rgba(133, 126, 191, 0.96)97%,#f4f8f8 99%); */
background: #ffffff;
}

.levels{
    background:linear-gradient(to bottom, var(--secondary-text-color),var(--accent-color-1));
    padding: 1em;
    border-radius: 8px;
}

.levels img{
    width: 1.9rem;
    height: 1.9rem;
}

.section-faq{
    padding: 1em 0 3em 0;
}

}