
/* #subscription-form {
    background-color:#7371aa;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
 */
.datosTarjeta, .datosTitular {
    margin: 0 0 1rem 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr;
}

#credit-card-icon, #ccv {
    height: 1.5rem;
    width: 1.5rem;
    margin:0;
    padding: 0 0.2rem;
}

.field-container{
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    height: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ccc;
}

.rowTarjeta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap:0.5rem;
    margin: 0.4rem 0 0.4rem 0;
}

.emailContainer{
    display: flex;
    flex-direction: column;
}

.cardSecurityInfo{
    display: flex;
    flex-direction: column;
}

.securityCodeContainer{
    display: flex;
    flex-direction: column;
}

.rowTitular{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap:0.5rem;
    margin: 0.4rem 0 0.4rem 0;
}

.datosTarjeta input,
#docType {
    outline: none;
    border: none;
    width: 100%;
    border-radius: 4px;
    height: 90%;
    padding: 0px 8px 0 8px;
    color: #1e2027;
    background: white!important;
}

.datosTarjeta input::placeholder, .datosTarjeta select {
    color: #ccc;
    opacity: 1; /* Required for some browsers to ensure the color applies */
  }
  
  /* For Microsoft Edge */
  .datosTarjeta input:-ms-input-placeholder, .datosTarjeta select {
    color: #ccc;
  }
  
  /* For Internet Explorer 10+ */
  .datosTarjeta input::-ms-input-placeholder, .datosTarjeta select {
    color: #ccc;
  }

.field-container:focus-within {
    /* Your desired styles for the container when an input inside it is focused */
    box-shadow: 0 0 0 2px #d1ff4f; /* Example: adding a box shadow */
    /* Other styles like border, background-color, etc., can be added here */
}


.label{
    font-size: 0.8rem;
    text-align: left;
    margin: 0.2rem 0 0.2rem 0;
}

.cardNumber, .cardHolderContainer{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#tarjetaHeading, #titularHeading {
    text-align: center;
    margin: 0;
    padding: 0;
    color:#0e124d;
    font-size: 1.5rem;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0e124d;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #005f73;
    color:#fefefe;
} 


[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    z-index: 1;
    white-space: nowrap;
}

/* Modal and Loader Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50vw; /* Could be more or less, depending on screen size */
    height: 50vh;
    text-align: center;
    opacity: 0.99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    margin-bottom: 20px;
    width: 50px; /* Adjust as needed */
    height: auto;
    animation: spin 2s linear infinite; /* 2 seconds for each rotation */
}

.modal-ok-button {
    /* Add your button styling here */
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-ok-button:hover {
    background-color: #005f73;
}

.bodyThankyou{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #005f73;
    align-items: center;
    padding: 3rem;
}

.thankyouHeadking{
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    color:#ffd479;
}

.payment-separator{
    background-color: #ccc;
    height: 2px;
    border: none;
}

.service-pricing-heading{
    display: flex;
    margin: 0;
    justify-content: center;
    gap:0.6rem;
    padding: 0.4rem;
    background-color: #d1ff4f;
}

#price {
    font-size: 1.2rem;
    text-align: center;
    margin: 0px;
  }

#serviceName{
    margin: 0;
    font-size: 1.2rem;
}
  
/* Add a media query for mobile devices */
@media (max-width: 600px) {
    .rowTarjeta:first-of-type {
        grid-template-columns: 1fr; /* One column on small screens for the first rowTarjeta */
    }
}