html{
    font-size: 16px;
}
body{
    background-color: #0d2634;
    height: 100vh;

}

#menu-section{
    background-color: white;
}

.word-of-the-day-container{
    padding: 0rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

h1{
    color: #edd1b0;
    font-size: 4rem;
    text-shadow: black 2px 3px 2px;
font-family: 'Shadows Into Light', cursive;
text-align: center
}

.classification{
    display: flex;
    flex-direction: row;
    color: #f0f8ff;
    gap: 0.5em;
    font-family: 'Hind', sans-serif;
    box-shadow: black 1px 2px 4px;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    justify-content: center;
    max-width: fit-content;
    margin: 1rem auto;
}

.semantics{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'Hind', sans-serif;
}


.example{
    border: 1px solid white;
    color:aliceblue;
    text-align: center;
    padding: 1em;
    min-width: 60vw;
    max-width: 80vw;
    margin: 1.5rem 0 1.5rem 0;
    box-shadow: 5px 5px 15px #080d1c;
}